<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BIATNET_V1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Main_Servlet</display-name>
    <servlet-name>Main_Servlet</servlet-name>
    <servlet-class>com.Servlets.BIATNET_V1.Main_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main_Servlet</servlet-name>
    <url-pattern>/Main_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Agency_Servlet</display-name>
    <servlet-name>Agency_Servlet</servlet-name>
    <servlet-class>com.Servlets.BIATNET_V1.Agency_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Agency_Servlet</servlet-name>
    <url-pattern>/Agency_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dab_Servlet</display-name>
    <servlet-name>Dab_Servlet</servlet-name>
    <servlet-class>com.Servlets.BIATNET_V1.Dab_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dab_Servlet</servlet-name>
    <url-pattern>/Dab_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mobile_Banking_Servlet</display-name>
    <servlet-name>Mobile_Banking_Servlet</servlet-name>
    <servlet-class>com.Servlets.BIATNET_V1.Mobile_Banking_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mobile_Banking_Servlet</servlet-name>
    <url-pattern>/Mobile_Banking_Servlet</url-pattern>
  </servlet-mapping>
</web-app>